* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    margin: 10px 10%;
}

.appText {
    font-size: larger;
    font-style: italic;
    text-align: left;
}

.inputForm {
    display: flex;
    float: none;
    width: auto;
    margin: auto;
}

.searchBtn {
    margin: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    border-radius: 6px;
    border: none;
    background: #6e6d70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
        0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #dfdedf;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.searchBtn:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
        0px 0.5px 1px rgba(0, 0, 0, 0.1),
        0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}
